<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
    <div ng-app="myApp" ng-controller="namesCtrl">
       Find : <input type="text" ng-model= "myInput"><br>
       OrderBy:
       <select ng-model="order" ng-options="x for x in type"></select>
       <ul>
           <li ng-repeat="x in name | filter : myInput | orderBy : order">
               {{x}}
           </li>
       </ul> 
       <table>
           <thead>
               <th>Name</th>
               <th>Country</th>
           </thead>
           <tr ng-repeat="x in names | filter : myInput | orderBy : order">
               <td>{{x.name}}</td>
               <td>{{x.country}}</td>
           </tr>
       </table>
    </div>
</body>
<script>
    var app = angular.module('myApp',[]);
    app.run(function($rootScope){
        $rootScope.name = ['Jay','Tirth','Dharmik','Viral','Jevik'];
        $rootScope.names = [{name : "Jay", country : 'USA'},
        {name : "Tirth", country : 'India'},
        {name : "Dharmik", country : 'Englend'}]; 
        $rootScope.type = ['name','country'];
    });
    app.controller('namesCtrl', function($scope){

    });
</script>
</html>